@font-face {
    font-family: TTLakes;
    src: url(fonts/TTLakes-Medium.ttf);
}

.header {
    height: 88px;
    background-color: #fff;
    border-bottom: solid 1px #D9FFF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
    width: 100%;
    @media (min-width: 1440px) {
        display: none;
    }
    &__navigation {
        list-style-type: none;
        gap: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        &--right-side{
            display: flex;
            gap: 16px;
        }

        &--link {
            background-color: #FF3E79;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &--hidden{
                display: none;
                @media (min-width: 768px) {
                    display: block;
                    background-color: #FF3E79;
                    height: 40px;
                    width: 40px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        &--logo{
            width: 96px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (min-width: 768px) {
                margin-right: 250px ;
            }
        }

        &--divider{
            width: 2px;
            height: 32px;
            background-color: #EAEAEA;
            list-style-type: none;

            &--hidden{
                display: none;
                @media (min-width: 768px) {
                    display: block;
                    width: 2px;
                    height: 32px;
                    background-color: #EAEAEA;
                }
            }
        }
    }
}