@font-face {
    font-family: TTLakes;
    src: url(fonts/TTLakes-Medium.ttf);
}
@font-face {
    font-family: TTLakes-bold;
    src: url(fonts/TTLakesCondensed-Bold.ttf);
}
@font-face {
    font-family: TTLakes-black;
    src: url(fonts/TTLakesCompressed-Black.ttf);
}

html{
    margin-right: 0 !important;
}

body {width: 100%; background-color: #F8F8F8;}

*{
    color: #1B1C21;
    margin: 0;
    padding: 0;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 1440px) {
        margin-top: 16px;
    }
    &__name{
        display: flex;
        align-items: center;
        &--highlight{
            background-color: #41F6D7;
            width: 4px;
            height: 40px;
            border-radius: 0 3px 3px 0;
            @media (min-width: 1440px) {
                width: 3px;
                border-radius: 3px;
                margin-left: 2px;
            }
        }
        &--services{
            padding-left: 12px;
            font-size: 28px;
            font-family: TTLakes-bold;
            font-weight: normal;
            
            @media (min-width: 768px) {
                padding-left: 20px;
            }
            @media (min-width: 1440px) {
                padding-left: 30px;
            }
        }
    }
    &__buttons{
        display: none;
        
        @media (min-width: 1440px) {
            display: flex;
            margin-right: 30px;
            gap: 32px;
            align-items: center;
        }
        &--window{
            display: flex;
            align-items: center;
            gap: 16px;
            cursor: pointer;
            transition: transform 0.25s ease;
            @media (min-width: 1440px) {
                gap: 8px;
            }
            
            &--text{
                font-family: TTLakes;
                white-space: nowrap;
                color: #1B1C21;
                margin-top: 0%;
            }
        }
        &--window:hover{
            transform: scale(1.1);
        }
    }
}
.slideMenu::-webkit-scrollbar{width: 0;}
.slideMenu{
    display: flex;
    align-items: center;
    overflow: auto;
    margin-left: 16px;
    padding: 5px 0px;
    @media (min-width: 768px) {
        margin-left: 24px;
    }
    @media (min-width: 1440px) {
        margin-left: 34px;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__button{
        font-family: TTLakes;
        font-size: 16px;
        color: #7E7E82;
        background-color: #F8F8F8;
        white-space: nowrap;
        border: none;
        padding: 8px;
        cursor: pointer;
        transition: all 0.25s ease;
        border: solid 2px transparent;
        border-radius: 6px;
        min-width: auto;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &--active{
            border-color: #B8FFEC;
            background-color: white;
        }
    }
    &__button:hover{
        transform:translateY(-4px);
        color: #1B1C21;
    }
}

.firstBlock{
    @media (min-width: 768px) {
        display: flex;
        margin-top: 32px;
    }
    &__text{
        min-width: 288px;
        height: auto;
        font-family: TTLakes;
        margin-left: 16px;
        font-size: 14px;
        color: #1B1C21;
        @media (min-width: 768px) {
            margin-left: 24px;
            min-width: 320px;
        }
        @media (min-width: 1024px) {
            margin-left: 34px;
            max-width: 490px;
        }
        &--hidden{
            display: none;
            margin: 28px 0px 0px 16px;
            @media (min-width: 768px) {
                display: flex;
                margin: 28px 0px 0px 24px;
            }
            @media (min-width: 1440px) {
                margin: 28px 0px 0px 34px;
                min-width: 490px;
            }
        }
        &--all{
            display: none;
            margin: 28px 0px 0px 16px;
            @media (min-width: 768px) {
                margin: 28px 0px 0px 24px;
            }
            @media (min-width: 1440px) {
                margin: 28px 0px 0px 34px;
            }
        }
    }

    &__more{
        display: flex;
        align-items: center;
        margin-left: 24px;
        padding: 16px 0;
        transition: transform 0.25s ease;
        cursor: pointer;
        @media (min-width: 1440px) {
            margin-left: 39px;
        }
        &--name{
            margin-left: 16px;
            font-family: TTLakes;
            font-size: 16px;
            font-weight: normal;
        }
        &--pic{
            width: 7px;
            height: 10px;
        }
    }
    &__image{
        width: 100%;
        height: auto;
        @media (min-width: 768px) {
            width: 360px;
            margin-right: 24px;
            margin-left: 24px;
            border-radius: 6px;
        }
        @media (min-width: 1440px) {
            width: 531px;
            margin-right: 28px;
            margin-left: 36px;
        }
    }
}
.firstBlock__more:hover, .more:hover{
    transform: translateY(-4px);
}

.hideThis{
    display: none;
    margin-left: 16px;
    @media (min-width: 768px) {
        margin-left: 24px;
    }
    @media (min-width: 1440px) {
        display: flex;
        margin-left: 34px;
        margin-right: 36px;
    }
}
.show-all-text {
    display: block !important;
}

.heading{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
    border-top: solid 1px #D9FFF5;
    padding: 16px;
    @media (min-width: 768px) {
        padding: 16px 24px;
    }
    @media (min-width: 1440px) {
        padding: 16px 32px;
    }
    &__text{
        font-family: TTLakes;
        font-size: 16px;
        color: #7E7E82;
        margin-top: 0;
        @media (min-width: 768px) {
            white-space: nowrap;
        }
    }
}

.more{
    display: none;
    transition: transform 0.25s ease;
    cursor: pointer;
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        margin-left: 24px;
        padding-bottom: 16px ;
        &__name{
            margin-left: 16px;
            font-family: TTLakes;
            font-size: 16px;
            font-weight: normal;
        }
        &__pic{
            width: 7px;
            height: 10px;
        }
    }
    @media (min-width: 1440px) {
        margin-left: 39px;
    }
}

.round__btn{
    border-radius: 100%;
    border: solid 2px #FF3E79;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    justify-self: end;
    transition: transform 0.25s ease;
    cursor: pointer;
}
.round__btn:hover, .bottom__group--dropdown:hover {
    transform: scale(1.1);
}

.equipment__btn{
    align-self: flex-end;
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.brands{
    margin-top: 24px;
    &__cats::-webkit-scrollbar{width: 0;}
    &__cats{
        margin: 16px;
        gap: 16px;
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 24px;
            column-gap: 24px;
            row-gap: 16px;
            overflow: visible;
        }
        @media (min-width: 1440px) {
            margin: 32px;
            column-gap: 31px;
        }
        &--brand{ 
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 240px;
            max-height: 72px;
            flex-shrink: 0;
            padding: 16px;
            @media (min-width: 768px) {
                display: flex;
                width: 192px;
                max-height: 72px;
            }
            @media (min-width: 1440px) {
                width: 208px;
                max-height: 72px;
            }
        }
    }
}

.equipment{
    &__cats::-webkit-scrollbar{width: 0;}
    &__cats{
        display: flex;
        margin: 16px;
        gap: 16px;
        @media (min-width: 768px) {
            margin: 24px;
            column-gap: 23px;
            row-gap: 16px;
            flex-wrap: wrap;
        }
        @media (min-width: 1440px) {
            margin: 32px;
            gap: 32px;
        }
        &--name{
            white-space: nowrap;
            display: flex;
            justify-content: space-between;
            min-width: 240px;
            min-height: 160px;
            position: relative;
            @media (min-width: 768px) {
                min-width: 224px;
            }
            @media (min-width: 1024px) {
                min-width: 240px;
            }
            &--text{
                align-self: flex-start;
                font-family: TTLakes;
                font-size: 16px;
                margin-left: 16px;
                margin-top: 16px;
                font-weight: normal;
            }
        }
    }
}
.brands .swiper-slide.hidden-slide {
    @media (min-width: 768px) {
        display: none;
    }
}
.equipment .swiper-slide.hidden-slide {
    @media (min-width: 768px) {
        display: none;
    }
}
.open-desktop{
    @media (min-width: 1440px) {
        display: flex !important;
    }
}
.show-all-slides {
    display: flex !important;
}
.more.expanded .more__pic {
    transform: rotate(180deg);
}

.prices{
    &__cats::-webkit-scrollbar{width: 0;}
    &__cats{
        margin: 16px;
        gap: 16px;
        @media (min-width: 320px) {
            display: flex;
        }
        @media (min-width: 768px) {
            display: none !important;
        }
        &--name{
            display: flex;
            padding: 0 16px 16px 16px;
            flex-direction: column;
            max-width: 260px;
            max-height: 200px;
            &--group{
                line-height: 0.2;
                &--text{
                    font-family: TTLakes;
                    font-size: 16px;
                    font-weight: normal;
                    color: #7E7E82;
                    white-space: nowrap;
                    line-height: 16px;
                    margin: 16px 0px 4px 0px;
                }

                &--maintext{
                    font-family: TTLakes;
                    font-size: 16px;
                    font-weight: normal;
                    display: flex;
                    align-items: center;
                    gap: 28px;
                    white-space: nowrap;
                    line-height: 18px;
                }
            }
        }
    }
}

.bottom{
    margin: 16px;
    margin-bottom: 40px;
    @media (min-width: 768px) {
        margin: 24px;
        margin-bottom: 47px;
    }
    @media (min-width: 1440px) {
        margin: 32px;
    }
    &__text{
        font-size: 14px;
        margin-bottom: 16px;
        color: #1B1C21;
        max-width: 421px;
    }
    &__group{
        font-size: 16px;
        font-family: TTLakes;
        font-weight:normal;
        margin: 0;
        &--dropdown{
            margin-left: 10px;
            transition: transform 0.25s ease;
            cursor: pointer;
        }
    }
}

table{
    display: none;
    @media (min-width: 768px) {
        display: table;
        margin: 24px;
        border-collapse: collapse;
        table-layout: auto;
        min-width: 720px;
        width: calc(336px + 50vw);
        max-width: calc(100vw - 48px);
    }
    @media (min-width: 1440px) {
        margin: 32px;
        max-width: 1056px;
    }

    thead{
        text-align: left;
        th{
            color: #7E7E82;
            font-size: 14px;
            font-family: TTLakes;
            font-weight: normal;
            padding: 16px;
        }
        tr th:last-child {
            text-align: right;
        }
    }

    tbody{
        background-color: #FFFFFF;

        td{
        color:#1B1C21;
        font-size: 14px;
        font-family: TTLakes;
        font-weight: normal;
        padding: 16px;
        white-space: nowrap;
        border-bottom: solid 1px #EAEAEA ;
        }
        }
        tbody tr:first-child td:first-child { border-top-left-radius: 6px; }
        tbody tr:first-child td:last-child { border-top-right-radius: 6px; }
        tbody tr:last-child td:first-child { border-bottom-left-radius: 6px; }
        tbody tr:last-child td:last-child { border-bottom-right-radius: 6px; }
}

.last-cell{
    @media (min-width: 768px) {
        display: flex;
        justify-content: end;
    }
}

.send{
    border-radius: 16px;
    border: 0px;
    background-color: #FF3E79;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 119px;
    height: 32px;
    color: #fff;
    font-size: 12px;
    font-family: TTLakes;
    padding: 11px;
    transition: transform 0.25s ease;
    cursor: pointer;
}
.send:hover {
    transform: scale(1.1);
}


.hidden{
    display: flex;
    @media (min-width: 768px) {
        display: none !important;
    }
    @media (min-width: 1440px) {
        display: flex !important;
    }
}

.enter{
    display: flex;
    @media (min-width: 768px) {
        display: none;
    }
}

.show-text {
    display: flex !important;
}

.swiper {
    display: flex;
    flex-direction: column;
    @media (max-width: 767px) {
        -webkit-mask-image: linear-gradient(
            to right,
            transparent 0%,
            black 8%,
            black 92%,
            transparent 100%
        );
        mask-image: linear-gradient(
            to right,
            transparent 0%,
            black 8%,
            black 92%,
            transparent 100%
        );
    }
}

.swiper-wrapper{
    display: flex;
    flex-direction: row;
    width: auto;
}

.swiper-slide {
    background-color: #FFFFFF;
    border: solid 1px #EAEAEA;
    border-radius: 6px;
    flex-shrink: 0;
    width: auto !important;
    margin-right: 0px !important;
}

.swiper-pagination{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    position: relative !important;
    @media (min-width: 768px) {
        display: none;
    }
}

.swiper-pagination .swiper-pagination-bullet-active {
    color: #B5B6BC;
    background-color:#B5B6BC;
}

.swiper-android .swiper-slide,.swiper-ios .swiper-slide,.swiper-wrapper {
    transform: translateZ(0)
}