@font-face {
    font-family: TTLakes;
    src: url(fonts/TTLakes-Medium.ttf);
}
@font-face {
    font-family: TTLakes-bold;
    src: url(fonts/TTLakesCondensed-Bold.ttf);
}
@font-face {
    font-family: TTLakes-black;
    src: url(fonts/TTLakesCompressed-Black.ttf);
}

html{
    margin-right: 0 !important;
}

body {width: 100%; background-color: #F8F8F8;}

*{
    color: #1B1C21;
    margin: 0;
    padding: 0;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 1440px) {
        margin-top: 16px;
    }
    &__name{
        display: flex;
        align-items: center;
        &--highlight{
            background-color: #41F6D7;
            width: 4px;
            height: 40px;
            border-radius: 0 3px 3px 0;
            @media (min-width: 1440px) {
                width: 3px;
                border-radius: 3px;
                margin-left: 2px;
            }
        }
        &--services{
            padding-left: 12px;
            font-size: 28px;
            font-family: TTLakes-bold;
            font-weight: normal;
            
            @media (min-width: 768px) {
                padding-left: 20px;
            }
            @media (min-width: 1440px) {
                padding-left: 30px;
            }
        }
    }
    &__buttons{
        display: none;
        
        @media (min-width: 1440px) {
            display: flex;
            margin-right: 30px;
            gap: 32px;
            align-items: center;
        }
        &--window{
            display: flex;
            align-items: center;
            gap: 16px;
            @media (min-width: 1440px) {
                gap: 8px;
            }
            
            &--text{
                font-family: TTLakes;
                white-space: nowrap;
                color: #1B1C21;
                margin-top: 0%;
            }
        }
    }
}
.slideMenu::-webkit-scrollbar{
        width: 0;
    }
.slideMenu{
    display: flex;
    align-items: center;
    overflow: auto;
    margin-left: 16px;
    
    @media (min-width: 768px) {
        margin-left: 24px;
    }
    @media (min-width: 1440px) {
        margin-left: 34px;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__button{
        font-family: TTLakes;
        font-size: 16px;
        color: #7E7E82;
        background-color: #F8F8F8;
        white-space: nowrap;
        border: none;
        padding: 8px;
        &--active{
            border: solid 2px #B8FFEC;
            border-radius: 6px;
            width: 246px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.firstBlock{
    @media (min-width: 768px) {
        display: flex;
    }
    &__text{
        min-width: 288px;
        height: auto;
        font-family: TTLakes;
        margin-left: 16px;
        font-size: 14px;
        color: #1B1C21;
        @media (min-width: 768px) {
            margin-left: 24px;
            margin-right: 48px;
            max-width: 320px;
        }
        @media (min-width: 1024px) {
            margin-left: 34px;
            margin-right: 36px;
            min-width: 490px;
        }
        &--hidden{
            display: none;
            @media (min-width: 768px) {
                display: flex;
                margin-left: 24px;
                margin-right: 48px;
                color: #1B1C21;
            }
            @media (min-width: 1024px) {
                margin-left: 34px;
                margin-right: 36px;
                min-width: 490px;
            }
        }
    }

    &__more{
        display: flex;
        align-items: center;
        margin-left: 24px;
        padding: 16px 0;
        @media (min-width: 1440px) {
            margin-left: 39px;
        }

        &--name{
            margin-left: 16px;
            font-family: TTLakes;
            font-size: 16px;
            font-weight: normal;
        }
        &--pic{
            width: 7px;
            height: 10px;
        }
    }
    &__image{
        width: 100%;
        height: auto;
        @media (min-width: 768px) {
            max-width: 360px;
            margin-right: 24px;
            border-radius: 6px;
        }
        @media (min-width: 1440px) {
            min-width: 531px;
            
        }
    }
}

.brands{
    margin-top: 24px;
    &__head{
        display: flex;
        align-items: center;
        background: linear-gradient(to right, #F8F8F8, #FFFFFF);
        border-top: solid 1px #D9FFF5;
        padding: 16px;
        @media (min-width: 768px) {
            padding: 16px 24px;
        }
        @media (min-width: 1440px) {
            padding: 16px 32px;
        }

        &--text{
            font-family: TTLakes;
            font-size: 16px;
            color: #7E7E82;
            margin-top: 0;
            @media (min-width: 768px) {
                white-space: nowrap;
            }
        }
    }
    &__cats::-webkit-scrollbar{width: 0;}
    &__cats{
        margin: 16px;
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 24px;
            overflow: visible !important;
        }
        @media (min-width: 1024px) {
            margin: 32px;
        }

        &--brand{ 
            white-space: nowrap;
            display: flex;
            align-items: center !important;
            justify-content: space-between;
            max-width: 240px;
            max-height: 72px;
            padding: 16px;
            @media (min-width: 768px) {
                min-width: 220px;
            }
            @media (min-width: 1440px) {
                min-width: 238px;
            }

            &--btn{
                border-radius: 100%;
                border: solid 2px #FF3E79;
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                justify-self: end;
            }
        }
        
    }

    &__more{
        display: none;
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            margin-left: 24px;
            padding-bottom: 16px ;

            &--name{
                margin-left: 16px;
                font-family: TTLakes;
                font-size: 16px;
                font-weight: normal;
            }
            &--pic{
                width: 7px;
                height: 10px;
            }
        }
        @media (min-width: 1440px) {
            margin-left: 39px;
        }
    }
}

.equipment{
    &__head{
        display: flex;
        align-items: center;
        background: linear-gradient(to right, #F8F8F8, #FFFFFF);
        border-top: solid 1px #D9FFF5;
        padding: 16px;
        @media (min-width: 768px) {
            padding: 16px 24px;
        }
        @media (min-width: 1440px) {
            padding: 16px 32px;
        }

        &--text{
            font-family: TTLakes;
            font-size: 16px;
            color: #7E7E82;
            margin-top: 0;
            @media (min-width: 768px) {
                white-space: nowrap;
            }
        }
    }
    &__cats::-webkit-scrollbar{width: 0;}
    &__cats{
        display: flex;
        margin: 16px;
        @media (min-width: 768px) {
            margin: 24px;
            overflow: visible !important;
        }
        @media (min-width: 1024px) {
            margin: 32px;
        }
        
        &--name{
            white-space: nowrap;
            display: flex;
            justify-content: space-between;
            min-width: 240px;
            min-height: 160px;
            position: relative;
            @media (min-width: 768px) {
                min-width: 224px;
            }
            @media (min-width: 1024px) {
                min-width: 240px;
            }

            &--text{
                align-self: flex-start;
                font-family: TTLakes;
                font-size: 16px;
                margin-left: 16px;
                margin-top: 16px;
                font-weight: normal;
            }

            &--btn{
                align-self: flex-end;
                border-radius: 100%;
                border: solid 2px #FF3E79;
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                margin-right: 16px;
                margin-bottom: 16px;
                /* Абсолютное позиционирование для кнопки */
                position: absolute;
                bottom: 16px;
                right: 16px;
            }
        }
        
    }
    &__more{
        display: none;
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            margin-left: 24px;
            padding-bottom: 16px ;

            &--name{
                margin-left: 16px;
                font-family: TTLakes;
                font-size: 16px;
                font-weight: normal;
            }
            &--pic{
                width: 7px;
                height: 10px;
            }
        }
        @media (min-width: 1440px) {
            margin-left: 39px;
        }
    }
}

.prices{
    
    &__head{
        display: flex;
        align-items: center;
        background: linear-gradient(to right, #F8F8F8, #FFFFFF);
        border-top: solid 1px #D9FFF5;
        padding: 16px;
        @media (min-width: 768px) {
            padding: 16px 24px;
        }
        @media (min-width: 1440px) {
            padding: 16px 32px;
        }

        &--text{
            font-family: TTLakes;
            font-size: 16px;
            color: #7E7E82;
            margin-top: 0;
            @media (min-width: 768px) {
                white-space: nowrap;
            }
            
        }
    }
    &__cats::-webkit-scrollbar{width: 0;}
    &__cats{
        margin: 16px;
        @media (min-width: 320px) {
            display: flex;
        }
        @media (min-width: 768px) {
            display: none;
        }
        

        &--name{
            display: flex;
            padding: 0 16px 16px 16px;
            flex-direction: column;
            /* Устанавливаем размеры для третьего свайпера */
            min-width: 260px;
            min-height: 200px;
            &--group{
                line-height: 0.2;
                &--text{
                    font-family: TTLakes;
                    font-size: 16px;
                    font-weight: normal;
                    color: #7E7E82;
                    white-space: nowrap;
                    line-height: 16px;
                    margin: 16px 0px 4px 0px;
                }

                &--maintext{
                    font-family: TTLakes;
                    font-size: 16px;
                    font-weight: normal;
                    display: flex;
                    align-items: center;
                    gap: 28px;
                    white-space: nowrap;
                    line-height: 18px;
                }

                &--btn{
                border-radius: 16px;
                border: 0px;
                background-color: #FF3E79;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 119px;
                height: 32px;
                color: #fff;
                font-size: 12px;
                font-family: TTLakes;
                padding: 11px;
            }
            }
        }
        
    }

    &__bottom{
    margin: 16px;
    margin-bottom: 40px;
    @media (min-width: 768px) {
        margin: 24px;
        margin-bottom: 47px;
    }
    @media (min-width: 1440px) {
        margin: 32px;
    }
    
        &--text{
            font-size: 14px;
            margin-bottom: 16px;
            color: #1B1C21;
            max-width: 421px;
        }

        &--group{
            font-size: 16px;
            font-family: TTLakes;
            font-weight:normal;
            margin: 0;

            &--dropdown{
                margin-left: 10px;
            }
        }
    }
}

table{
    display: none;
    @media (min-width: 768px) {
        display: table;
        margin: 24px;
        border-collapse: collapse;
        table-layout: auto;
        width: 100%;
    }
    @media (min-width: 1440px) {
        margin: 32px;
        max-width: 1056px;
    }

    thead{
        text-align: left;
        th{
            color: #7E7E82;
            font-size: 14px;
            font-family: TTLakes;
            font-weight: normal;
            padding: 16px;
        }
        tr th:last-child {
            text-align: right;
        }
    }

    tbody{
        background-color: #FFFFFF;

        td{
        color:#1B1C21;
        font-size: 14px;
        font-family: TTLakes;
        font-weight: normal;
        padding: 16px;
        white-space: nowrap;
        border-bottom: solid 1px #EAEAEA ;

        }
        }
        tbody tr:first-child td:first-child { border-top-left-radius: 6px; }
        tbody tr:first-child td:last-child { border-top-right-radius: 6px; }

        tbody tr:last-child td:first-child { border-bottom-left-radius: 6px; }
        tbody tr:last-child td:last-child { border-bottom-right-radius: 6px; }
}

.last-cell{
    @media (min-width: 1024px) {
        display: flex;
        justify-content: end;
    }
}

.hidden{
    display: flex;
    @media (min-width: 768px) {
        display: none;
    }
    @media (min-width: 1024px) {
        display: flex;
    }
}

.enter{
    display: flex;
    @media (min-width: 768px) {
        display: none;
    }
}

.swiper {
    display: flex;
    flex-direction: column;
}

.swiper-wrapper{
    display: flex;
    flex-direction: row;
}

.swiper-slide {
    background-color: #FFFFFF;
    border: solid 1px #EAEAEA;
    border-radius: 6px;
    flex-shrink: 0;
    width: auto;
}

.swiper-pagination{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    @media (min-width: 768px) {
        display: none;
    }
}