.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay.active {
    opacity: 1;
}

.sideMenu{
    height: 100%;
    top: 0;
    position: fixed;
    background-color: #FFFFFF;
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    
    &__head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        margin: 16px;
        &--icon{
            background-color: #FF3E79;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &--group{
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }
    &__main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--list{
            &--chapter{
                color:#1B1C21;
                font-size: 16px;
                font-family: TTLakes;
                margin: 24px 16px;
                list-style-type: none;
                @media (min-width: 768px){
                    margin: 32px 24px;
                }
                &--active{
                    color:#7E7E82;
                    font-size: 16px;
                    font-family: TTLakes;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    @media (min-width: 768px){
                        gap: 20px;
                        margin-bottom: 0px;
                    }
                }
            }
        }

        &--connect{
            display: flex;
            align-items: center;
            gap: 16px;
        }
        &--contacts{
            &--mail{
                color: #1B1C21;
                font-size: 16px;
                margin-top: 16px;
            }
            &--phone{
                color: #1B1C21;
                font-family: TTLakes-bold;
                font-size: 24px;
                font-weight: normal;
                margin-bottom: 0;
            }
            &--language{
                display: flex;
                align-items: center;
                font-size: 16px;
                gap: 7px;
                &--name{
                    color: #1B1C21;
                    margin-top: 8px;
                    &--active{
                        color:#7E7E82;
                        margin-top: 8px;
                    }
                }
            }
        }
        &--title{
            display: flex;
            align-items: center;
            &__name--highlight{
                margin-left: 0px !important;
            }
        }
        &--inputs{
            display: flex;
            flex-direction: column;
            gap: 16px;
            &--window{
                max-width: 320px;
                @media (min-width: 1440px){
                    max-width: 440px;
                }
            }
            &--text{
                margin: 16px;
                color: #B5B6BC;
                font-family: TTLakes;
                font-size: 14px;
                &--pink{
                    color: #FF3E79;
                }
            }
        }

        &--button{
            display: flex;
            justify-content: flex-end;
            margin: 16px;
        }
    }
}

.sideMenu:not(.sideMenu--right) {
    width: 320px;
    left: -320px;
}

.sideMenu:not(.sideMenu--right).open {
    left: 0;
    visibility: visible;
    opacity: 1;
}

.sideMenu--right {
    width: 320px;
    right: -320px;
    left: auto;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
    border-left: solid 1px #D9FFF5;
}

.sideMenu--right.open {
    right: 0;
    visibility: visible;
    opacity: 1;
}

input{
    margin: 0px 16px;
    background-color: #FFFFFF;
    color: #B5B6BC;
    border: solid 1px #EAEAEA;
    border-radius: 8px;
    font-family: TTLakes;
    font-size: 16px;
    font-weight: normal;
    padding: 16px;
    width: 240px;
    @media (min-width: 1440px){
        width: 376px;
    }
}

textarea{
    margin: 0px 16px;
    background-color: #FFFFFF;
    color: #B5B6BC;
    border: solid 1px #EAEAEA;
    border-radius: 8px;
    font-family: TTLakes;
    font-size: 16px;
    font-weight: normal;
    padding: 16px;
    width: 240px;
    @media (min-width: 1440px){
        width: 376px;
        height: 118px;
    }
}

@media (min-width: 1440px) {
    main {margin-left: 320px;}
    footer{margin-left: 352px;}
    .overlay {z-index: 999; }
    .sideMenu:not(.sideMenu--right) {
        left: 0;
        visibility: visible;
        opacity: 1;
        box-shadow: none;
        width: 320px;
        z-index: 998; 
    }
    
    .sideMenu--right {
        width: 440px;
        right: -440px;
        z-index: 1000;
    }
    
    .sideMenu--right.open {
        right: 0;
    }
    
    .sideMenu--right .sideMenu__head--icon.close-btn {
        position: absolute;
        left: -72px;
        top: 32px;
    }
    
    .sideMenu:not(.sideMenu--right) .close-btn {
        display: none;
    }
}